SECRET_KEY=qwerty # секретный ключ для запуска django
DB_ENGINE=django.db.backends.postgresql # указываем, что работаем с postgresql
DB_NAME=name_of_your_db # имя базы данных
POSTGRES_USER=your_user # логин для подключения к базе данных
POSTGRES_PASSWORD=postgres_pass # пароль для подключения к БД (установите свой)
DB_HOST=127.0.0.1 # название сервиса (контейнера) или адрес хоста
DB_PORT=5432 # порт для подключения к БД